/* Elements d'initialisation */
*,::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, P{
    font-family: 'Roboto' , sans-serif;
}

/* header */

header{
    z-index: 99;
    height: 80px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    transform: translateY(-80px);   
}

#logo{
    width: 55%;
}

/* localisation */

#localisation{
    height: 60px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    background-color: #eaeaea;
    margin-top: 80px;
}
#localisation p{
  line-height: 60px;
}

#localisation i{
    margin-right: 15px;
}

#reservation{
    background-color: #f6f6f6;
    width: 100%;
    text-align: center;
    padding: 50px 40px 60px 40px;
    
}
 
#reservation h1{
font-size: 28px;
margin-bottom: 15px;
}

#reservation p{
    font-size: 19px;
    line-height: 23px;
    margin-bottom: 25px;
    font-weight: 300;
    color: #4d4d4d;
}

/*bouton*/
#reservation #btn-reservation{
width: 280px;
margin: 10px auto 0 auto;
height: 60px;
border-radius: 50px;
cursor: pointer;
outline: none;
border: none;
color:#F1F1F1;
box-shadow: 0 6px 10px 6px rgba(0, 0, 0, 0.1);
background: rgb(255,121,218);
background: linear-gradient(0deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
font-family: 'Roboto' , 'sans-serif';
font-size: 19px;
font-weight: 500px;
transition: .4s ease opacity; /*durée, vitesse de l'animation augmente au milieu puis ralenti vers la fin*/
}

#reservation #btn-reservation:hover{
opacity: 0.8;
}

/*Fonctionnement*/

#fonctionnement{
  padding: 60px 30px;
}

#fonctionnement h2{
  font-size:  30px;
  font-weight: 600;
  margin-bottom: 30px;
}

#fonctionnement .etape{
  width: 97%;
  height: 80px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 40px;
  margin: 0 0 30px 15px;
  border-radius: 20px;
  box-shadow: 0 6px 10px 6px rgba(0, 0, 0, 0.1);
  background-color: #f6f6f6;
}

#fonctionnement .etape .numero{
position: absolute;
left: -15px;
background-color: #9356DC;
border-radius: 50%;
height: 30px;
width: 30px;
text-align: center;
line-height: 30px;
font-family: 'Robot', 'sans-serif';
color: #fff;
}

#fonctionnement .etape p{
  font-size: 20px;
  font-weight: 500;
}

#fonctionnement .etape p i{
margin-right: 25px;
font-size: 22px;
color: #4d4d4d;
}

#fonctionnement .etape:hover{
background-color: #f5edff;
}

#fonctionnement .etape:hover p i{
  color: #9356DC;
  cursor: pointer;
}

/* restaurant */

#restaurants{
  padding: 60px 25px;
  background-color: #f6f6f6;
}

#restaurant h2{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}

.carte{
  width: 100%;
  height: 300px;
  border-radius: 15px;
  box-shadow: 0 6px 10px 10px rgba(0, 0, 0, 0.05);
  margin: 0 0 25px 0;
  overflow: hidden;

}

.carte a{
  color: #000;
  text-decoration: none;
}

.carte .image-restau{
  width: 100%;
  height: 220px;
  overflow: hidden;
  position: relative;
}

.carte .image-restau .nouveau{
  position: absolute;
  width: 90px;
  background-color: #99e2d0;
  color: #008766;
  top: 15px;
  right: 15px;
  text-align: center;
  line-height: 30px;
  border-radius: 2px;
  font-weight: 500;
  z-index: 99;
  
}

.carte .image-restau img{
width: 100%;
position: absolute;

}

.carte .infos{
  padding: 15px;
  height: 80px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.carte .infos h3{
  margin-bottom: 3px;
}

.carte .infos .coeur{
  position: absolute;
  right: 20px;
  top: 25px;
  width: 30px;

}



.carte .infos .coeur:hover{
 color: #9054da;
  cursor: pointer;
  box-shadow: 0px 0px 1px 1px(0, 0, 0, 0.9)inset #9054da; /*couleur du coeur*/
}


/* footer */

footer{
  
  background-color: #000;
  display: flex;
  font-size: 22px;
  flex-direction: column;
  padding: 40px 0px 60px 0;
}


.footer h2{
  margin: 0 10px 0 40px;
  color: #fff;
  font-weight: 700;
  font-size: 25px;
  font-family: 'Shrikland' ,sans-serif;
}

.footer a:hover{
  color: #9356DC;
  cursor: pointer;
}

.bloc-footer-services a{
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto' , sans-serif;
  font-weight: 400;
}

.bloc-footer-services{
  margin-top: 10px;
}


.bloc-footer-services i{
  margin-right: 25px;
  font-size: 20px;
  color: #fff;
  }

.bloc-footer-services li{
  list-style-type: none;
  padding: 20px 0 0 0px;
  margin: 0 10px 0 40px;
}

.bloc-footer-services li:nth-child(2) i{
  font-size: 17px;
  margin-right: 21px;
}


/*---partie restaurant menu palette goût ----*/

.menu-restaurant .partie{
 width: 97%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 20px;
  margin: 0 0 30px 15px;
  border-radius: 20px;
  box-shadow: 0 6px 10px 6px rgba(0, 0, 0, 0.1);
  background-color: #f6f6f6; 
}

.menu-restaurant{
  padding: 30px 20px;
}

.menu-restaurant h2{
  font-size:  20px;
  font-weight: 600;
  margin-bottom: 30px; 
}


.baniere-redimension img{
  width: 100%;
}

.store{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.store .coeur{
  position: absolute;
  right: 70px;
  top: 30px;
  /* width: 30px; */
}
.store h1{
margin: 20px 0 0 30px;
}



/*-- animations apparition progresive-- */

.home .partie{
opacity: 0;
 transform: translateY(30px); 
/*transform: translateY(-30px);*/  /*fait commencer l'animation vers le haut*/
animation: apparition 0.8s 0.7s ease-out forwards;
}


.home p:nth-child(1){
  animation: apparition 0.8s 0.2s ease-out forwards;
}

.home p:nth-child(2){
  animation: apparition 0.8s 0.4s ease-out forwards;
}

.home p:nth-child(3){
  animation: apparition 0.8s 0.6s ease-out forwards;
}


@keyframes apparition{
  100%{
    opacity: 1;
    transform: none;
  }
}







 

  




